html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.home-page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

body {
  background: linear-gradient(to bottom right, #23a6d5, #23d5ab);
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.log-in {
  padding: 20px;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.home-page {
  padding: 20px;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.match-page {
  padding: 20px;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  text-align: center;
}

.log-in-item {
  margin: 20px;
}

.top-list {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.italics {
  font-style: italic;
}

#add-match-form {
  margin: 100px;
}

#match-table {
  background: white;
  width: 80%;
}

#add-button {
  background: white;
}

#table-box {
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  margin: 30px;
  text-align: center;
}
